.dashboard {
  display: flex;
  gap: 30px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

/* LEFT PANEL */
.left {
  flex: 3;
}

.right {
  flex: 1.2;
  text-align: center;
}

/* Form */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #888;
}

.form button {
  padding: 10px 15px;
  background: #2962ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Table */
.expense-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.expense-table th {
  background: #efefef;
}

.edit {
  background: #ff9800;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.delete {
  background: #e53935;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

/* Right chart */
canvas {
  margin-top: 15px;
}
